.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box {
    background-color: var(--color-gray);
    min-width: min(80%, 500px);
    border-radius: 16px;
    margin: 64px 24px;
    padding: 30px 50px;
}

.paid {
    text-decoration: line-through;
}

.order:hover {
    color: var(--color-accent);
    border-left: 2px solid var(--color-accent);
    padding-left: 4px;
}
